<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>018-5302-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>750</integer>
	<key>Filename</key>
	<string>iPhone2,1_3.0_7A341_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone2,1_3.0_7A341</string>
	<key>SubPlatform</key>
	<integer>4</integer>
	<key>Platform</key>
	<integer>3</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>SHA1</key>
	<string>d8534408c8679c830fd0c4e36ef9762c11ef73df</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-6582.20090617.LlI87/iPhone2,1_3.0_7A341_Restore.ipsw</string>
	<key>RootFilesystemKey</key>
	<string>7d779fed28961506ca9443de210224f211790192b2a2308b8bc0e7d4a2ca61a68e26200e</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>ebc56070f923799c06fc696fe5b8335517eb2fc13d1e8fcdb16be784db6b4a36</string>
			<key>Patch</key>
			<string>iBSS.n88ap.RELEASE.patch</string>
			<key>IV</key>
			<string>d7815d19a90b84677fc757aa4abf9343</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>Key</key>
			<string>783970ed70d151e65cdd0f52019f026cbc0ece5c604603117d677b6a85ea4d95</string>
			<key>Patch</key>
			<string>LLB.n88ap.RELEASE.patch</string>
			<key>IV</key>
			<string>fc4efef9fd245dc038ecb26f25f795c7</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-5306-002.dmg</string>
			<key>Key</key>
			<string>44514633ce2aead62bcfa8836cda4a3c7bde483f8b1e9f19d22f9d8fdf753e02</string>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>e345e23bb266fcc2ba23a2e0be77a3bf</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>Key</key>
			<string>c160ff26cf0cdb1c0b5d821e4102cab8a3e62687f39ab8c456907694e3c4834e</string>
			<key>Patch</key>
			<string>iBoot.n88ap.RELEASE.patch</string>
			<key>IV</key>
			<string>948a3d82419c9d4dde404cb4a788da70</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RootFilesystemMountVolume</key>
	<string>Kirkwood7A341.N88OS</string>
</dict>
</plist>
